<html>
<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 2px solid #999;
        padding: 5px;
    }
</style>

<body>
<form method="get" action="mainMenu">
    <button type="submit">На главную</button>
</form>

<form method="get" action="menuFinance">
    <input type="submit" value="Назад">
</form>
<b>Начисления</b>
<div>
    <form method="post" action="addFee">
        <button type="submit">Добавить начисления всем клиентам</button>
    </form>
</div>
<b>Список начислений</b>
<table>
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>ID клиента</th>
        <th>Сумма</th>
        <th>Статус оплаты</th>
    </tr>
    {{#fees}}
        <tr>
            <td>{{id}}</td>
            <td>{{date}}</td>
            <td>{{client.id}}</td>
            <td>{{client.tariff.price}}</td>
            <td>{{status}}</td>
        </tr>
    {{/fees}}
</table>
</body>
</html>