<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Главная</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="styles/css/all.css" rel="stylesheet">
</head>
<body class="home">
<div class="topnav">
    <a href="mainMenu"> <i class="fa fa-fw fa-home fa-2x"></i> Главная</a>
    <a href="masters"> <i class="fas fa-user-tie fa-2x"></i> Персонал</a>
    <a href="menuClients"> <i class="fas fa-users fa-2x"></i> Клиенты</a>
    <a href="menuRequests"> <i class="fas fa-wrench fa-2x"></i> Заявки</a>
    <a href="menuFinance"> <i class="fas fa-dollar-sign fa-2x"></i> Финансы</a>
    <a href="menuMaterial"> <i class="fas fa-box-open fa-2x"></i> Склад</a>
</div>

<p></p>
<h1 class="home">Добро пожаловать!</h1>
<h1 class="home">Хорошего дня 😺☀️🥰</h1>

</body>
</html>