<html>
<body>
<form method="get" action="menuClients">
    <button type="submit">Работа с клиентами</button>
</form>
<form method="get" action="menuFinance">
    <button type="submit">Работа с финансами</button>
</form>
<form method="get" action="menuRequests">
    <button type="submit">Работа с заявками</button>
</form>
<form method="get" action="menuMaterial">
    <button type="submit">Управление складом</button>
</form>
<form method="get" action="masters">
    <button type="submit">Персонал</button>
</form>
</body>
</html>