<html>
<body>
<form method="get" action="mainMenu">
    <button type="submit">Назад</button>
</form>

<form method="get" action="services">
    <button type="submit">Заявки на обслуживание</button>
</form>
<form method="get" action="connections">
    <button type="submit">Заявки на подкл/откл</button>
</form>
</body>
</html>