<html>
<body>
<b>Работа с финансами</b>
<form method="get" action="mainMenu">
    <button type="submit">Назад</button>
</form>

<form method="get" action="tariffs">
    <button type="submit">Тарифы</button>
</form>
<form method="get" action="fees">
    <button type="submit">Начисления</button>
</form>
<form method="get" action="payments">
    <button type="submit">Оплаты</button>
</form>
</body>
</html>