<html>
<body>
<b>Работа с клиентами</b>
<form method="get" action="mainMenu">
    <button type="submit">Назад</button>
</form>

<form method="get" action="clients">
    <button type="submit">Клиенты</button>
</form>
<form method="get" action="address">
    <button type="submit">Адреса</button>
</form>
</body>
</html>