<html>
<body>
<b>Управление складом</b>
<form method="get" action="mainMenu">
    <button type="submit">Назад</button>
</form>

<form method="get" action="materials">
    <button type="submit">Склад</button>
</form>
<form method="get" action="materialBuy">
    <button type="submit">Закупка материалов</button>
</form>
<form method="get" action="materialUse">
    <button type="submit">Использование материалов</button>
</form>
</body>
</html>